.text-labels {
  font-size: 1.6rem;
  opacity: 80%;
  text-transform: uppercase;
}
.heading-secondary {
  font-size: 4.8rem;
  color: #1a305e;
  line-height: 5.8rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--2-rows {
  grid-template-rows: repeat(2, 1fr);
}
.grid-center {
  justify-items: center;
  align-items: center;
}
.none {
  display: none;
}
.cta {
  font-size: 2rem;
  background-color: #af4f2c;
  border: none;
  padding: 0.6em 1.7em;
  border-radius: 4rem;
  color: #fff;
  text-decoration: none;
}
.center {
  max-width: 144rem;
  margin: 0 auto;
}
.no-select-img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
