* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 8rem;
}
body {
  background-color: #f9f3df;
  color: #1a305e;
  font-family: "Eczar", serif;
  font-weight: 400;
  font-size: 1.8rem;
  max-width: 100vw;
  min-width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
}

/* NAVIGATION */
.scroll-disabled {
  overflow: hidden;
  position: fixed;
}
.scroll-enable {
  overflow-x: hidden;
}
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  background-color: #fbc895;
  padding: 2rem 0 5rem 0;
}
.main-nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #1a305e;

  padding: 0.1em 1em;
  border-radius: 4rem;
  font-weight: 500;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  background-color: #e2b486;
  color: #1a305e;
}
.main-nav-link.btn-cta:link,
.main-nav-link.btn-cta:visited {
  display: inline-block;
  background-color: #af4f2c;
  padding: 0.6em 1.7em;
  border-radius: 4rem;
  color: #fff;
}
.main-nav-link.btn-cta:hover,
.main-nav-link.btn-cta:active {
  background-color: #1a305e;
  color: #fff;
}
/* MOBILE NAVIGATION */

.mobile-navigation-button {
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1000;

  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  fill: #1a305e;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header-section {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  background-color: rgba(254, 244, 234, 0.7);
  z-index: 999;
  padding: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .section-hero {
  margin-top: 11.3rem;
}

/* HERO SECTION*/
.section-hero {
  position: relative;
}
.section-header-container {
  background-color: #fbc895;
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
}
.hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.heading-primary {
  font-weight: 500;
  font-size: 8rem;
  line-height: 10rem;
}
.hero-description {
  font-weight: 500;
  width: 60rem;
  font-size: 2rem;
  line-height: 3rem;
}
.hero-img {
  background-color: #fbc895;
}
.hero-img picture {
  grid-area: 1/-3;
  z-index: 2;
}
.hero-img-grid {
  align-items: center;
  justify-items: center;
}

.mockup {
  justify-self: center;
  width: 150%;
  height: auto;
  position: relative;
}

.left-img,
.right-img {
  width: 100%;
  height: auto;
  z-index: -2;
}
.left-img {
  transform: translateX(-3rem);
}
/* BB */
.bill-board {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bb-img {
  width: 80%;
  height: auto;
  border-radius: 2rem;
  border: solid #fbc895 7px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
}
.bb-location {
  margin-top: 1.5rem;
  color: rgba(0, 0, 0, 1);
}
/* ABOUT BOOK SECTION */
.about-book-container {
  max-width: 144rem;
  margin: 20rem auto 0 auto;
}
.step-text-box {
  width: 42.5rem;
  align-self: center;
  justify-self: center;
  margin-bottom: 0rem;
}

.step-1-img-box,
.step-1-img-box picture,
.step-2-img-box,
.step-2-img-box picture {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.step-1-img-box {
  justify-content: start;
}

.step-1-img-box::before {
  content: "";
  display: block;

  border-radius: 50%;
  position: absolute;
  background-color: #cacde5;
  transform: translateX(10rem);
  padding-bottom: 70%;
  width: 70%;
  z-index: -2;
}
.step-2-img-box::after {
  content: "";
  display: block;

  border-radius: 50%;
  position: absolute;
  background-color: #fbc895;
  transform: translateX(-10rem);
  padding-bottom: 60%;
  width: 60%;
  z-index: -2;
}
.top-woman-img {
  width: 90%;
  height: auto;
}
.dancing-woman {
  width: 70%;
  height: auto;
}
/* ILLUSTRATIONS */

.shoe-illustration {
  width: 40rem;
  height: auto;
  grid-column-start: 2;
  grid-column-end: -1;
  justify-self: end;
  align-self: end;
  margin-right: 5rem;
}
.heart-illustration {
  width: 18rem;
  height: auto;
  transform: rotate(-10deg);
  margin-left: 10rem;
  justify-self: start;
}
.steps-illustration {
  width: 50rem;
  height: auto;
  margin-right: 10rem;
  justify-self: end;
}
/* TODO */
/* Add picture to testimonials */
/* TESTIMONIALS SECTION */
.testimonials-container .heading-secondary {
  text-align: center;
}
.carousel-container {
  margin: 10rem 0 0 0;
  padding: 0 2rem;
}
.carousel {
  max-width: 100vw;
  width: 100%;
  position: relative;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel .arrows:first-child {
  left: -2.2rem;
}
.carousel .arrows:last-child {
  right: -2.2rem;
}
.arrow--left,
.arrow--right {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #f9f3df;
  fill: #1a305e;
}
.arrow--left:hover,
.arrow--left:active,
.arrow--right:hover,
.arrow--right:active {
  cursor: pointer;
  fill: #db6337;
}
.reviews {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  grid-auto-columns: calc((100% / 3) - 1.2rem);
  gap: 2rem;
  min-height: auto;
  padding: 2rem 0;

  overflow-x: scroll;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.reviews.no-transition {
  scroll-behavior: auto;
}
.reviews::-webkit-scrollbar {
  display: none;
}
#andrej-kozina-reivew ,
#ella-hasel-reivew{
  font-size: 1.5rem;

}
.review {
  background: #e2b486;
  width: 40rem;
  height: 50rem;
  list-style: none;

  border-radius: 10rem 10rem 10rem 10rem;
  box-shadow: inset #fff 0 0 0 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px 10px;

  scroll-snap-align: center;
  position: relative;

  text-align: left;
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.review-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 2rem;
  border: solid 3px #fff;
  position: absolute;
  top: -7rem;
  align-self: start;
  margin-top: 2rem;
}
.arrows {
  z-index: 100;
}
.review-text {
  width: 30rem;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.review-name {
  font-size: 1.8rem;
  font-weight: 600;
  text-align:center;
}
.is-hidden {
  display: none;
}

/* ABOUT AUTHOR SECTION */
.section-about-author {
  max-width: 144rem;
  margin: 0 auto 20rem auto;
}
.section-about-author {
  grid-auto-flow: column;

  justify-items: center;
  align-items: center;
}
.text-box {
  width: 52rem;
}
.about-text p:nth-child(2) {
  margin: 0.7rem 0;
}
.quate {
  margin-top: 2rem;
  font-weight: 500;
}
.author-img {
  max-width: 60rem;
  height: auto;
}

/* BOOK PROMOTION */
.section-book-promotion .heading-secondary {
  text-align: center;
  width: 50%;
  margin: 0 auto 3rem auto;
}

.scroller {
  max-width: 100vw;
  text-align: center;
}
.section-book-promotion .scroller:nth-child(3) {
  margin-bottom: 20rem;
}
.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    #fbc895 10%,
    #fbc895 90%,
    transparent
  );
  mask: linear-gradient(
    90deg,
    transparent,
    #fbc895 10%,
    #fbc895 90%,
    transparent
  );
}
.scroller[data-animated="true"] .scroller--inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}
.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}
.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}
/* At query of 620px and below the "slow" animation speed is 120s*/
.scroller[data-speed="slow"] {
  --_animation-duration: 70s;
}
.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}
.scroller--inner {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.scroller-img {
  width: 30rem;
  height: 100%;
}
.scroller-img:not(#right-side, #left-side) {
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
  margin-right: 1rem;
}
#right-side {
  border-radius: 0 2rem 2rem 0;
  box-shadow: 1.5rem 0 1rem 0.5rem rgba(0, 0, 0, 0.05);
}
#left-side {
  border-radius: 2rem 0 0 2rem;
  box-shadow: -1.5rem 0 1rem 0.5rem rgba(0, 0, 0, 0.05);
}
.section-scroller-imgs .scroller-img:not(#left-side) {
  /* Used margin insted of gap */
  /* Gap dosen't work if wanted for first two images to be connected */
  margin-right: 1rem;
}

.book-promotion-location {
  color: rgba(0, 0, 0, 1);
}
/* MAP SECTION */
.map-text-container {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

.map-text--paragraf a {
  color: #af4f2c;
  text-decoration: underline;
}
.map-text--paragraf a:hover,
.map-text--paragraf a:active {
  color: #1a305e;
  cursor: pointer;
  z-index: 10;
  pointer-events: auto;
}

.map-container {
  width: 100vw;
  height: 70rem;
  margin: 4rem 0 10rem 0;
  position: relative;
}

.logo--hocu-knjigu {
  position: absolute;
  width: 20%;
  height: auto;
  z-index: -10;
  rotate: 10deg;
  top: 30rem;
  right: 3rem;
}

.map--illustration {
  position: absolute;
  left: 5rem;
  top: -25rem;
  rotate: 10deg;
  width: 20%;
  z-index: -10;
  height: auto;
}
#map {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
  height: 90%;
  width: 50%;
  margin: 0 auto;
  border-radius: 1rem;
}
/* CTA SECTION*/
.cta-container {
  background-color: #fbc895;
  text-align: center;
  padding: 3em 0;
  border-radius: 50%;
  margin-bottom: 20rem !important;
}
.btn-cta:hover,
.btn-cta:active {
  background-color: #1a305e;
  transition: all 500ms;
}
/* FOOTER SECTION */
.container-footer {
  justify-items: center;
  align-items: center;
}
.get-in-touch-box {
  grid-area: 2/1;
  padding: 0 0 5rem 5rem;
}
.container-footer picture {
  grid-area: 2/2;
}
.footer-heading {
  font-size: 5rem;
  line-height: 5rem;
  text-transform: uppercase;
  font-weight: 600;
}
.footer-text {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.contants {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.footer-link {
  color: #1a305e;
  display: flex;
}
.footer-link svg {
  height: 4rem;
  width: 4rem;
  fill: #1a305e;
}
.footer-link:hover,
.footer-link:active {
  color: #db6337;
  text-decoration: none;
}
.footer-link svg:hover,
.footer-link svg:active {
  fill: #db6337;
}
.footer-img {
  display: block;
  margin: 0 auto;
  width: 20rem;
  height: auto;
  grid-area: 2/2;
}
.site-map-box {
  grid-area: 2/3;
}
.site-map {
  list-style: none;
  font-size: 2rem;
}
.site-map-item {
  line-height: 3rem;
}
.site-map-item a:link,
.site-map-item a:visited {
  text-decoration: none;
  color: #1a305e;
  opacity: 70%;
}
.site-map-item a:hover,
.site-map-item a:active {
  color: #db6337;
  opacity: 100%;
  text-decoration: underline;
}
.copyright {
  text-align: center;
  opacity: 90%;
  font-size: 1.4rem;
}
